body {
    background-color: rgba(251, 248, 242, 1);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    flex: 0 0 330px;
    background-color: #F8F8F8;
    color: #fff;
    padding: 20px;
}

.curReading {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.see-more-cur {
    margin-bottom: 20px;
}

.curReading h2 {
    font-size: 23px;
    color: black;
}

.curReading button {
    text-decoration: none;
    border: none;
    background-color: #F8F8F8;
    color: #BFA054;
    font-size: 15px;
}

.bookList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookInfo h3 {
    font-weight: bold;
    font-family: "DM Serif Display";
    font-size: 14px;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
}

.bookInfo h4 {
    font-weight: 400;
    font-size: 10px;
    font-family: "Kantumruy";
    color: #858585;
    margin-top: 0px;
    margin-bottom: 5px;
}

.bookInfo p {
    font-family: "Kantumruy";
    font-weight: 400;
    font-size: 10px;
    color: #858585;
    margin-top: 0px;

}

.bookTitle {
    margin-right: 15px;
}

.bookTitle img {
    border-radius: 13px;
    width: 60px;
    height: 60px;
}

main {
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.sliderContainer {
    flex: 3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.card:hover {
    background-color: #F5EFE1;
}

.showDetail {
    padding: 20px;
    flex: 1;
    background-color: rgba(245, 239, 225, 1);
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.bookDetails {
    flex: 1;
}

.bookDetails h4 {
    margin-bottom: 5px;
    margin-top: 8px;
}

.bookDetails h2 {
    margin-bottom: 5px;
    margin-top: 8px;
}

.bookDetails h2 {
    font-family: "DM Serif Display";
    font-size: 25px;
    color: #2F2F2F;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratings h4 {
    margin-left: 10px;
}

.bookDetails h4 {
    font-family: "Kantumruy";
    font-size: 15px;
    color: #858585;
}

.checked {
    color: orange;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn1 button {
    border-radius: 15px;
    padding: 15px 80px;
    text-decoration: none;
    border: none;
    font-family: "Kantumruy";
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #BFA054;
    cursor: pointer;
}

.btn2 button {
    border-radius: 15px;
    padding: 15px 80px;
    text-decoration: none;
    border-width: 1px;
    font-family: "Kantumruy";
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #FBF8F2;
    cursor: pointer;
}