body {
    background-color: rgba(251, 248, 242, 1);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #F8F8F8;
    color: #fff;
    padding: 20px;
}

.curReading {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.curReading h2 {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin: 0 0 10px;
}

.bookList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 300px;
}

.bookTitle {
    margin-right: 15px;
}

.bookTitle img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookInfo h3 {
    font-family: "DM Serif Display", serif;
    font-size: 14px;
    color: black;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.bookInfo h4 {
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.24px;
    color: rgba(133, 133, 133, 1);
    margin-top: 0;
    margin-bottom: 5px;
}

.bookInfo p {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgba(133, 133, 133, 1);
    margin-top: 0;
}

.see-more-cur {
    text-decoration: none;
    color: rgba(191, 160, 84, 1);
    margin-bottom: 10px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.28px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
}

.sliderContainer {
    flex: 3;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    max-width: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    max-height: 1000px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    max-width: 100%;
}

.carousel .card .img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.card:hover {
    background-color: #F5EFE1;
}

.showDetail {
    padding: 30px;
    background-color: rgba(245, 239, 225, 1);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    /*width: 100%;*/
    display: none;
}

.bookDetails {
    flex: 1;
}

.bookDetails h1 {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    color: rgba(47, 47, 47, 1);
    margin: 0 0 10px;
}

.bookDetails h4 {
    margin-bottom: 5px;
    margin-top: 8px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22px;
    letter-spacing: -0.32px;
    color: rgba(133, 133, 133, 1)
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratings h4 {
    margin-left: 10px;
}

.checked {
    color: orange;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn1 a {
    border-radius: 15px;
    padding: 15px 60px;
    text-decoration: none;
    border: none;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #BFA054;
    cursor: pointer;
}

.btn2 button {
    border-radius: 15px;
    padding: 15px 60px;
    text-decoration: none;
    border-width: 1px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #FBF8F2;
    cursor: pointer;
}