body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 180px 50px;
    background-color: rgba(251, 248, 242, 1);
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.container h3 {
    font-family: "DM Serif Display", serif;
    color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%; /* 40px */
    text-transform: capitalize;
    margin: 20px 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}


.bookCoverImg img {
    width: 200px;
    height: 290px;
}

.bookCoverImg {
    flex: 1;
}

.bookInfo {
    flex: 3;
}

.bookInfo h3,
.bookInfo h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

.bookInfo h3 {
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    color: #2F2F2F;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checked {
    color: orange;
}

.ratings h4 {
    margin-left: 5px;
    margin-top: 15px;
}

.bookInfo h4 {
    color: rgba(133, 133, 133, 1);
    margin-bottom: 5px;
    margin-top: 8px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22px;
    letter-spacing: -0.32px;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons .btn1 {
    text-align: center;
    border-radius: 15px;
    padding: 15px 60px;
    text-decoration: none;
    border: none;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #BFA054;
    cursor: pointer;
}

.buttons .btn2 {
    border-radius: 15px;
    padding: 15px 50px;
    text-decoration: none;
    border-width: 1px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #FBF8F2;
    cursor: pointer;
}

.btn1:hover {
    background-color:  rgb(191, 160, 84, 0.8);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    display: none;
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.bookshelf {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag {
    flex: 3;

}

.tag label {
    color: #2F2F2F;
    font-family: "Kantumruy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.64px;
    text-transform: capitalize;

}

.postBtn {
    flex: 1;
}

.form-container h3 {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container button {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    border: none;
    font-family: "Kantumruy", sans-serif;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #BFA054;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    line-height: 125%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}

.bookshelf button {
    margin-left: 50px;
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    border-width: 1px;
    font-family: "Kantumruy", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2F2F2F;
    background-color: #FBF8F2;
    cursor: pointer;
    line-height: 125%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}

