body {
    background-color: rgba(191, 160, 84, 0.11);
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: inline;
    margin: 20px 80px 10px;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: normal;
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 120px;
}

.intro {
    margin-top: 50px;
    flex-grow: 3;
}

.header1 h2 {
    margin-bottom: 5px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.header1 h1 {
    margin-top: 5px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 40px;
}

.header1 {
    margin-bottom: 40px;
}

.text p {
    font-size: 17px;
    font-family: "Kantumruy Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text a {
    color: rgba(191, 160, 84, 1);
    font-weight: 700;
    font-size: 17px;
    font-family: "Kantumruy Pro", sans-serif;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.formContainer {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 0 20px 30px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-family: "Kantumruy Pro", sans-serif;
    padding: 20px;
    border: none;
    color: rgba(133, 133, 133, 1);
    font-size: 15px;
    border-radius: 8px;
    background-color: rgba(191, 160, 84, 0.18);
    width: 100%;
    margin: 10px 20px 30px;
}

input[type="submit"] {
    font-family: "DM Serif Display", serif;
    padding: 20px;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(191, 160, 84, 1);
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
    width: 100%;
    margin: 10px 20px;
}

.message {
    background-color: #45b6fe;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}