body {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.userAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 76px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.userDetail {
    margin-left: 50px;
}

.userName {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.userName h3 {
    font-family: "DM Serif Display", serif;
    font-size: 36px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.userName button {
    margin-left: 60px;
    text-decoration: none;
    border: none;
    font-weight: 400;
    background-color: #BFA054;
    font-family: "Kantumruy", sans-serif;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-style: normal;
    line-height: 125%;
    text-transform: capitalize;
}

.follow {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.followers {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.follow h3 {
    font-family: "Kantumruy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    color: rgba(133, 133, 133, 1);
}

.follow .number {
    font-weight: 700;
    color: rgb(0, 0, 0, 1);
}

.following {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bio {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.bio p {
    margin-bottom: 5px;
    margin-top: 8px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22px;
    letter-spacing: -0.32px;
    color: rgba(133, 133, 133, 1)
}

.bookShelves h2 {
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    border-top: 1px solid rgba(133, 133, 133, 1);
    padding-top: 10px;
    margin: 0 0 20px;
}

.bookShelvesContent {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.bookTag {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #858585;
    margin-right: 30px;
    align-items: center;
}

.bookTag button {
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    border-width: 1px;
    font-family: "Kantumruy", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    color: #2F2F2F;
    background-color: #FBF8F2;
    cursor: pointer;
    width: 200px;
}

.books {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 25px;
}


.bookCoverImg img {
    width: 200px;
    height: 290px;
}

.bookCoverImg {
    flex: 1;
}

.bookInfo {
    flex: 3.5;
    margin-left: 30px;
}

.bookName {
    margin-bottom: 11px;
}

.bookAuthor {
    margin-bottom: 15px;
}

.bookInfo h3,
.bookInfo h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

.bookInfo h3 {
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    color: #2F2F2F;
}

.bookInfo h4 {
    color: rgba(133, 133, 133, 1);
    margin-bottom: 5px;
    margin-top: 8px;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22px;
    letter-spacing: -0.32px;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checked {
    color: orange;
}

.ratings h4 {
    margin-left: 5px;
}

.myQuotes {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(133, 133, 133, 1);
    padding-top: 10px;
    margin: 20px 0;
}

.quotes h2 {
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 20px;
}

.quotes button {
    text-decoration: none;
    border: none;
    font-weight: 400;
    background-color: #BFA054;
    font-family: "Kantumruy", sans-serif;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-style: normal;
    line-height: 125%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}

.quotes button:hover,
.userName button:hover {
    background-color: rgb(191, 160, 84, 0.8);
}

.avatarVsIcon {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatarVsName {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.avatarVsName h3 {
    color: #2F2F2F;
    margin-left: 20px;
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: capitalize;
    width: 300px;
}

.avatarVsName img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.quotesMainContent {
    width: 800px;
    color: #000;
    font-family: "Kantumruy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.quotesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes1 {
    width: 800px;
    padding: 20px;
    background-color: #FBF8F2;
    border-radius: 18px;
    margin-bottom: 20px;
}
.overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
        }

        .form-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            z-index: 1000;
            display: none;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
        }


        .postBtn {
            display: flex;
            justify-content: center;
        }

        .form-container h2 {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: 1.28px;
            text-transform: capitalize;
            color: #0D0C22;
            text-align: center;
            font-size: 28px;
            font-style: normal;
        }

        .form-container {
            width: 500px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .form-container button {
            margin-top: 40px;
            text-align: center;
            width: 150px;
            height: 40px;
            border-radius: 15px;
            padding: 10px;
            text-decoration: none;
            border: none;
            font-family: "Kantumruy", sans-serif;
            font-weight: 400;
            color: #2F2F2F;
            background-color: #BFA054;
            cursor: pointer;
            font-size: 16px;
            font-style: normal;
            line-height: 125%;
            letter-spacing: 0.64px;
            text-transform: capitalize;
        }

        input[type="text"] {
            text-align: center;
            font-family: "Kantumruy Pro", sans-serif;
            padding: 20px;
            border: none;
            color: rgba(133, 133, 133, 1);
            font-size: 15px;
            border-radius: 8px;
            background-color: rgba(191, 160, 84, 0.18);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 80px;
        }