<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Detail</title>
    <link href="/css/bookdetail.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/bookdetail.js}" defer></script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="bookBriefInfo">
        <div class="img">
            <img alt="img" draggable="false" th:src="@{${book.cover}}">
        </div>
        <button class="btn2">
            Want To Read
        </button>
        <div class="ratingsCmts">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <button class="btn3" onclick="showForm()">
            Write A Review
        </button>
    </div>
    <div class="form-popup" id="wantToReadForm">
        <form class="form-container">
            <h3>Write Your Review</h3>
            <div class="myRate">
                <h3>My Rate:</h3>
            </div>
            <div class="myRatings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="uthink">
                <h3>What do you think?</h3>
            </div>
            <div class="inputField">
                <input type="text" id="wahtdouthink" name="wahtdouthink" placeholder="Write A Review..."><br>
            </div>
            <div class="postBtn">
                <button type="button" class="post" onclick="postTag()">Post</button>
            </div>
        </form>
    </div>
    <div class="overlay" id="overlay" onclick="closeForm()"></div>
    <div class="bookContent">
        <div class="bookTitle">
            <h4 th:text="${book.title}"></h4>
        </div>
        <div class="bookAuthor">
            <h3 th:each="author : ${authors}" th:text="${author.name}"></h3>
        </div>
        <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>50 Ratings</h3>
            <h3>34 Reviews</h3>
        </div>
        <div class="bookContents">
            <p th:text="${book.description}"></p>
        </div>
        <div class="genres">
            <h3>Genres:</h3>
            <p th:each="genre, iterStat : ${genres}" th:text="${genre.name}" th:if="${iterStat.index < 3}"></p>
        </div>
        <h4 class="subTitle">About The Author</h4>
        <div class="authorContainer" th:each="author : ${authors}">
            <div class="aboutTheAuthor">
                <div class="img">
                    <img alt="img" draggable="false" th:src="@{${author.avatar}}">
                </div>
                <h3 th:text="${author.name}"></h3>
                <button>
                    Follow
                </button>
            </div>
            <div class="authorInteraction">
                <div class="authorFl">
                    <div class="authorBooks">
                        <h4>21 Books</h4>
                    </div>
                    <div class="authorFollowers">
                        <h4>26.4k Followers</h4>
                    </div>
                </div>
                <div class="authorInfo">
                    <p th:text="${author.bio}"></p>
                </div>
            </div>
        </div>
        <h4 class="subTitle">Ratings & Reviews</h4>
        <div class="ratingsandreview">
            <button onclick="showForm()">
                Write A Review
            </button>
            <div class="ratethisbook">
                <h3>Rate this book</h3>
                <div class="ratingsthisbook">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
        <h4 class="subTitle">Community Reviews</h4>
        <div class="reviewsContainer">
            <div class="allStars">
                <div class="totolPoint">
                    <h1>4.7</h1>
                </div>
                <div class="ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h5>(578 Reviews)</h5>
            </div>
            <div class="voteProgress">
                <div class="votes">
                    <h3 class="stars">5 Stars: </h3>
                    <h3>100 votes</h3>
                </div>
                <div class="votes">
                    <h3 class="stars">4 Stars: </h3>
                    <h3>100 votes</h3>
                </div>
                <div class="votes">
                    <h3 class="stars">3 Stars: </h3>
                    <h3>100 votes</h3>
                </div>
                <div class="votes">
                    <h3 class="stars">2 Stars: </h3>
                    <h3>100 votes</h3>
                </div>
                <div class="votes">
                    <h3 class="stars">1 Stars: </h3>
                    <h3>100 votes</h3>
                </div>
            </div>
        </div>
        <div class="userContainer">
            <div class="aboutTheAuthor">
                <div class="img"><img
                        src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg"
                        alt="img" draggable="false"></div>
                <h3>Author</h3>
                <button>
                    Follow
                </button>
            </div>
            <div class="userInteraction">
                <div class="commentStars">
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <div class="seemore">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam
                        exercitationem facilis impedit quaerat commodi odio, ipsum modi dolore dolorum officia
                        explicabo aut fuga praesentium perspiciatis accusamus eum ratione reprehenderit? <a>See
                        more</a>
                    </p>
                </div>
                <h4>20 likes</h4>
                <div class="likeVsDislike">
                    <div class="like">
                        <i onclick="handleClickLike(this)" id="likeButton" class="fa fa-thumbs-up"></i>
                        <h3 id="like">Like</h3>
                    </div>
                    <div class="dislike">
                        <i onclick="handleClickDislike(this)" id="dislikeButton" class="fa fa-thumbs-down"></i>
                        <h3 id="dislike">Dislike</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>