<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Detail</title>
    <link href="/css/bookdetail.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bookdetail.js}" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
<div class="container" layout:fragment="content">
        <div class="bookBriefInfo">
            <div class="img"><img
                    src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                    alt="img" draggable="false"></div>
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
            <div class="ratingsCmts">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <button class="btn3">
                Write A Review
            </button>
        </div>
        <div class="bookContent">
            <div class="bookTitle">
                <h4>The Book of Art</h4>
            </div>
            <div class="bookAuthor">
                <h3>Author</h3>
            </div>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h3>50 Ratings</h3>
                <h3>34 Reviews</h3>
            </div>
            <div class="bookContents">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, accusamus ab, nobis
                    repudiandae tempore voluptatum aliquid eveniet quos nulla porro ad. Quae exercitationem et,
                    magni explicabo dolores unde odio fugit.</p>
            </div>
            <div class="genres">
                <h3>Genres:</h3>
                <p>Romance</p>
                <p>Fantasy</p>
                <p>Magic</p>
            </div>
            <h4>About The Author</h4>
            <div class="authorContainer">
                <div class="aboutTheAuthor">
                    <div class="img"><img
                            src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg"
                            alt="img" draggable="false"></div>
                    <h3>Author</h3>
                    <button>
                        Follow
                    </button>
                </div>
                <div class="authorInteraction">
                    <div class="authorFl">
                        <div class="authorBooks">
                            <h4>21 Books</h4>
                        </div>
                        <div class="authorFollowers">
                            <h4>26.4k Followers</h4>
                        </div>
                    </div>
                    <div class="authorInfo">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam
                            exercitationem facilis impedit quaerat commodi odio, ipsum modi dolore dolorum officia
                            explicabo aut fuga praesentium perspiciatis accusamus eum ratione reprehenderit?
                        </p>
                    </div>
                </div>
            </div>
            <h4>Ratings & Reviews</h4>
            <div class="ratingsandreview">
                <button>
                    Write A Review
                </button>
                <div class="ratethisbook">
                    <h3>Rate this book</h3>
                    <div class="ratingsthisbook">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <h4>Community Reviews</h4>
            <div class="reviewsContainer">
                <div class="allStars">
                    <div class="totolPoint">
                        <h1>4.7</h1>
                    </div>
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h5>(578 Reviews)</h5>
                </div>
                <div class="voteProgress">
                    <div class="votes">
                        <h3 class="stars">5 Stars: </h3>
                        <h3>100 votes</h3>
                    </div>
                    <div class="votes">
                        <h3 class="stars">4 Stars: </h3>
                        <h3>100 votes</h3>
                    </div>
                    <div class="votes">
                        <h3 class="stars">3 Stars: </h3>
                        <h3>100 votes</h3>
                    </div>
                    <div class="votes">
                        <h3 class="stars">2 Stars: </h3>
                        <h3>100 votes</h3>
                    </div>
                    <div class="votes">
                        <h3 class="stars">1 Stars: </h3>
                        <h3>100 votes</h3>
                    </div>
                </div>
            </div>
            <div class="userContainer">
                <div class="aboutTheAuthor">
                    <div class="img"><img
                            src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg"
                            alt="img" draggable="false"></div>
                    <h3>Author</h3>
                    <button>
                        Follow
                    </button>
                </div>
                <div class="userInteraction">
                    <div class="commentStars">
                        <div class="ratings">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="seemore">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam
                            exercitationem facilis impedit quaerat commodi odio, ipsum modi dolore dolorum officia
                            explicabo aut fuga praesentium perspiciatis accusamus eum ratione reprehenderit? <a>See
                            more</a>
                        </p>
                    </div>
                    <h4>20 likes</h4>
                    <div class="likeVsDislike">
                        <div class="like">
                            <i onclick="handleClickLike(this)" id="likeButton" class="fa fa-thumbs-up"></i>
                            <h3 id="like">Like</h3>
                        </div>
                        <div class="dislike">
                            <i onclick="handleClickDislike(this)" id="dislikeButton" class="fa fa-thumbs-down"></i>
                            <h3 id="dislike">Dislike</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userContainer">
                <div class="aboutTheAuthor">
                    <div class="img"><img
                            src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg"
                            alt="img" draggable="false"></div>
                    <h3>Author</h3>
                    <button>
                        Follow
                    </button>
                </div>
                <div class="userInteraction">
                    <div class="commentStars">
                        <div class="ratings">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="seemore">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam
                            exercitationem facilis impedit quaerat commodi odio, ipsum modi dolore dolorum officia
                            explicabo aut fuga praesentium perspiciatis accusamus eum ratione reprehenderit? <a>See
                            more</a>
                        </p>
                    </div>
                    <h4>20 likes</h4>
                    <div class="likeVsDislike">
                        <div class="like">
                            <i onclick="handleClickLike(this)" id="likeButton" class="fa fa-thumbs-up"></i>
                            <h3 id="like">Like</h3>
                        </div>
                        <div class="dislike">
                            <i onclick="handleClickDislike(this)" id="dislikeButton" class="fa fa-thumbs-down"></i>
                            <h3 id="dislike">Dislike</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>