<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookaholic</title>
    <link href="/css/browse.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/browseCarousel.js}" defer></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="topRated">
        <div class="topRatedContainer">
            <h3>Top Rated</h3>
            <a th:href="@{/browse/toprated}">Show More</a>
        </div>
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" th:each="book : ${books}">
                        <div class="img">
                            <img th:src="@{${book.cover}}" alt="img" draggable="false">
                        </div>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="trending">
        <div class="trendingContainer">
            <h3>Trending</h3>
            <a th:href="@{/browse/trending}">Show More</a>
        </div>
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left2" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" th:each="book : ${books}">
                        <div class="img">
                            <img th:src="@{${book.cover}}" alt="img" draggable="false">
                        </div>
                    </li>
                </ul>
                <i id="right2" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="genres">
        <div class="genresContainer">
            <h3>Genres</h3>
            <a th:href="@{/browse/genres}">Show More</a>
        </div>
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left3" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" th:each="book : ${books}">
                        <div class="img">
                            <img th:src="@{${book.cover}}" alt="img" draggable="false">
                        </div>
                    </li>
                </ul>
                <i id="right3" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="author">
        <div class="authorContainer">
            <h3>Author</h3>
            <a th:href="@{/browse/author}">Show More</a>
        </div>
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left4" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" th:each="book : ${books}">
                        <div class="img">
                            <img th:src="@{${book.cover}}" alt="img" draggable="false">
                        </div>
                    </li>
                </ul>
                <i id="right4" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>