<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookaholic</title>
    <link href="/css/home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/homeCarousel.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/modifyDescription.js}" defer></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <div class="curReading">
                <h2>Currently Reading</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <a class="see-more-cur">See more</a>
            </div>
            <br>
            <div class="curReading">
                <h2>Want To Read</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <a class="see-more-cur">See more</a>
            </div>
            <br>
            <div class="curReading">
                <h2>Read</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <a class="see-more-cur">See more</a>
            </div>
        </nav>
    </aside>
    <div class="content">
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" th:each="book : ${books}">
                        <div class="img"
                             th:data-id="${book.id}"
                             th:data-title="${book.title}"
                             th:data-overallRating="${book.overallRating}"
                             th:data-description="${book.description}">
                            <img th:src="${book.cover}" alt="img" draggable="false" onclick="handleCardClick(this)">
                        </div>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="showDetail">
            <div class="bookDetails">
                <h1 id="bookTitle"></h1>
                <h4>Author</h4>
                <div class="ratings" id="bookRatings">
                </div>
                <h4 id="bookRatingsCount"></h4>
                <h4 class="description" id="bookDescription"></h4>
            </div>
            <div class="buttons">
                <div class="btn1">
                    <a id="bookDetailLink" >Book Detail</a>
                </div>
                <div class="btn2">
                    <button>
                        Want to read
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>