<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookaholic</title>
    <link href="/css/home.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/home.js}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
<div class="container" layout:fragment="content">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <div class="curReading">
                <h2>Currently Reading</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <button class="see-more-cur">
                    See more
                </button>
            </div>
            <br>
            <div class="curReading">
                <h2>Want To Read</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <button class="see-more-cur">
                    See more
                </button>
            </div>
            <div class="curReading">
                <h2>Read</h2>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <div class="bookList">
                    <div class="bookTitle">
                        <img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img"/>
                    </div>
                    <div class="bookInfo">
                        <h3>History of the Ancient World's Society</h3>
                        <h4>Dr. Tikendranath Sarkar</h4>
                        <p>Ratings</p>
                    </div>
                </div>
                <button class="see-more-cur">
                    See more
                </button>
            </div>
        </nav>
    </aside>
    <div class="content">
        <div class="sliderContainer">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                    <li class="card" onclick="handleCardClick()">
                        <div class="img"><img
                                th:src="@{https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198}"
                                alt="img" draggable="false"></div>
                        <h3>The Book of Art</h3>
                        <h4>Author</h4>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="showDetail">
            <div class="bookDetails">
                <h1>The Book of Art</h1>
                <h4>Author</h4>
                <div class="ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <h4>50 Ratings</h4>
                </div>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat tenetur
                    sapiente, natus id ea cupiditate odit quibusdam eum possimus placeat sed quae animi
                    facere deleniti itaque necessitatibus ab aperiam!</h4>
            </div>
            <div class="buttons">
                <div class="btn1">
                    <button>
                        Book Detail
                    </button>
                </div>
                <div class="btn2">
                    <button>
                        Want to read
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>