<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookaholic</title>
    <link href="/css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <a href="/" class="title">Bookaholic</a>
    <div class="content">
        <div class="intro">
            <div class="header1">
                <h2>Sign in to</h2>
                <h1>Bookaholic</h1>
            </div>
            <div class="text">
                <p>Don't have an account?</p>
                <a th:href="@{/register}">Register here!</a>
            </div>
        </div>
        <div class="formContainer">
            <h2 class="title">Sign in</h2>
            <form th:action="@{/loginProcessing}" method="post" id="form">
                <div class="form-group">
                    <label for="username"></label>
                    <input type="email" id="username" name="username"
                           placeholder="Enter your email" required/>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" id="password" name="password"
                           placeholder="Enter your password" required/>
                </div>
                <div class="message" th:if="${param.error}">
                    Invalid Username or Password
                </div>
                <div class="message" th:if="${param.logout}">
                    Logout Successfully
                </div>
                <div class="form-group">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>