<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookaholic</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="/css/toprated.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/toprated.js}" defer></script>
</head>
<body>
<div class="container" layout:fragment="content">
    <h3>Top rated</h3>
    <div class="content">
        <div class="bookCoverImg">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                 alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3>The Book of Art</h3>
            <h4>Author</h4>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h4>50 Ratings</h4>
            </div>
            <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel? </h4>
        </div>
        <div class="buttons">
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
        </div>
    </div>
    <div class="content">
        <div class="bookCoverImg">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                 alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3>The Book of Art</h3>
            <h4>Author</h4>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h4>50 Ratings</h4>
            </div>
            <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem
                maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel?</h4>
        </div>
        <div class="buttons">
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
        </div>
    </div>
    <div class="content">
        <div class="bookCoverImg">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                 alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3>The Book of Art</h3>
            <h4>Author</h4>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h4>50 Ratings</h4>
            </div>
            <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem
                maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel?</h4>
        </div>
        <div class="buttons">
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
        </div>
    </div>
    <div class="content">
        <div class="bookCoverImg">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                 alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3>The Book of Art</h3>
            <h4>Author</h4>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h4>50 Ratings</h4>
            </div>
            <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem
                maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel?</h4>
        </div>
        <div class="buttons">
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
        </div>
    </div>
    <div class="content">
        <div class="bookCoverImg">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198"
                 alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3>The Book of Art</h3>
            <h4>Author</h4>
            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h4>50 Ratings</h4>
            </div>
            <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, tempora aliquam.
                Dolorem
                maiores magnam illo quasi odit tempora a magni nobis tempore asperiores, commodi nam iste dolor
                similique inventore vel?</h4>
        </div>
        <div class="buttons">
            <button class="btn1">
                Book Detail
            </button>
            <button class="btn2">
                Want To Read
            </button>
        </div>
    </div>
</div>
</body>
<script>
</script>

</html>