<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookaholic</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="/css/innerBrowse.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/modifyDescription.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/innerBrowse.js}" defer></script>
</head>
<body>
<div class="container" layout:fragment="content">
    <h3>Top-rated</h3>
    <div class="form-popup" id="wantToReadForm">
        <form class="form-container">
            <h3>Add book to bookshelf</h3>
            <div class="bookshelf">
                <h2>Bookshelf</h2>
                <button>
                    Want To Read
                </button>
            </div>
            <div class="tag">
                <h2>Tag</h2>
                <input type="checkbox" id="Romantic" name="romantic" value="value1">
                <label for="romantic">Romantic</label><br>
                <input type="checkbox" id="School" name="school" value="value2">
                <label for="school">School</label><br>
                <input type="checkbox" id="Mystery" name="mystery" value="value3">
                <label for="mystery">Mystery</label><br><br>
            </div>
            <div class="postBtn">
                <button type="button" class="post" onclick="postTag()">Post</button>
            </div>
        </form>
    </div>
    <div class="overlay" id="overlay" onclick="closeForm()"></div>
    <div class="content" th:each="book: ${books}">
        <div class="bookCoverImg">
            <img th:src="@{${book.cover}}" alt="bookCover">
        </div>
        <div class="bookInfo">
            <h3 th:text="${book.title}"></h3>
            <h4>
                <span th:each="author, iterStat : ${book.authors}">
                    <span th:text="${author.name}"></span>
                </span>
            </h4>
            <div class="ratings">
                <span class="fa fa-star checked"
                      th:each="star, iterStat : ${#numbers.sequence(1, book.overallRating)}"></span>
                <span class="fa fa-star"
                      th:each="star, iterStat : ${#numbers.sequence(book.overallRating + 1, 3)}"></span>
                <h4 th:text="${book.ratingsNumber + ' Ratings'}"></h4>
            </div>
            <h4 class="description"
                th:text="${#strings.length(book.description) > 300 ? #strings.substring(book.description, 0, 300) + '...' : book.description}"></h4>

        </div>
        <div class="buttons">
            <a class="btn1" th:href="@{'/book/' + ${book.id}}">Book Detail</a>
            <button class="btn2" onclick="showForm()">
                Want To Read
            </button>
        </div>
    </div>
</div>
</body>
</html>